# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/

# Node
node_modules/

# OS / Editor
.DS_Store
.vscode/

# Build / Data
C:/
*.db
*.db-shm
*.db-wal
data/
*.log

# Project Specific
.codacy/


#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
